{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Lista de Canciones{% endblock %}

{% block styles %}
    <!-- Agrega aquí cualquier estilo adicional necesario para tu página de música -->
{% endblock %}

{% block content %}
    <!-- Projects Section -->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Lista de Canciones</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Lista de Canciones -->
                    {% for cancion in canciones %}
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">{{ cancion.nombre }}</h2>
                                        <audio controls style="font-size: 80%;">
                                            <source src="{{ cancion.archivo_musical.url }}" type="audio/mp3">
                                            Tu navegador no soporta el elemento de audio.
                                        </audio>
                                    </div>
                                    <div class="p-5">
                                        <img class="img-fluid" src="{{ cancion.foto.url }}" alt="{{ cancion.nombre }}" width="400" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Projects Section -->
{% endblock %}
